#garden-map {
  width: 800px;
  height: 500px;
  border: thin solid #ddd;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  margin-left: 10px;
  /*
   * Absolute positioning to ensure that the resizable UI magic can figure out
   * the size of the garden correctly.
   */
  position: absolute;
}

#garden-tools {
  width: 400px;
  height: 500px;
  margin-left: 820px;
  position: absolute;
}

#garden-map .plant-area {
  opacity: 0.8;
  border: none;
  background: none;
  background-repeat: repeat;
  background-position: left top;
}

/* Give a nice border while hovering (and moving). */
#garden-map .plant-area:hover,
#garden-map .plant-area.ui-resizable-resizing,
#garden-map .plant-area.ui-draggable-dragging {
  box-shadow: 0 0 2px 2px rgba(0, 0, 255, 0.5);
}

.plant-tools-link, .layout-tools-link {
  padding: 2px;
}

.header-left {
  float: left;
}
.header-right {
  float: right;
}

.zoom-control {
  margin-left: -5px;
}
.zoom-label {
  display: inline-block;
  vertical-align: middle;
}

.month-selector {
  left: 20px;
  top: 575px;
  position: absolute;
}
.month-selector-inner {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 24px;
}

.header-links {
  width: 1195px;
}

.warning-light {
  background-color: green;
  width: 5px;
  height: 5px;
}

.has-warnings .warning-light {
  background-color: red;
}

.selected-mode {
  box-shadow: 0 0 2px 2px rgba(0, 0, 255, 0.5);
}

.ui-datepicker .ui-datepicker-prev .ui-icon {
  /* jQuery UI widget override to fix the Previous Month button. */
  background-image: url("smoothness/images/ui-icons_222222_256x240.png");
  background-color: transparent;
  background-position: -80px -192px;
}
.ui-datepicker .ui-datepicker-next .ui-icon {
  /* jQuery UI widget override to fix the Next Month button. */
  background-image: url("smoothness/images/ui-icons_222222_256x240.png");
  background-color: transparent;
  background-position: -48px -192px;
}
.ui-resizable-handle {
  width: 12px;
  height: 12px;
  display:block;
  background-position: -64px -224px;
  background-color: transparent;
}
.planting-copy-link, .planting-delete-link {
  cursor: pointer;
}
